body {
	background-color: lightblue;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  img {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
  }

  h1 {
	color: blue;
	text-align: center;
  }
  
  p {
	text-align: center;
	color: rgb(44, 191, 73);
  }

  a {
	text-align: center;
	color: hotpink;
  }
